<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ site_title }}{% endblock %}</title>
  <link rel="stylesheet" href="{{ css_path }}style.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% include "_includes/header.html.j2" %}
  <main class="container">
    {% block content %}{% endblock %}
  </main>
  {% include "_includes/footer.html.j2" %}
</body>
</html>